{{ define "main" }}
<main class="flex-1 flex w-full flex-col">
  <h2>Blog</h2>
  <ul class="mt-5">
    {{ $posts := where .Site.RegularPages "Type" "blog" }}
    {{ $latestPosts := sort $posts "Date" "desc" }}
    {{ range $latestPosts }}
      <li>
        <a href="{{ .Permalink }}">
          <h3>{{ .Title }}</h3>
          <p class="text-lg text-stone-800">
            {{ .Summary }}
          </p>
          <time class="font-sans text-sm text-stone-700 mt-1" datetime="{{ .Date }}">
            {{ .Date.Format "2 Jan 2006" }}
          </time>
        </a>
      </li>
    {{ end }}
  </ul>
</main>
{{ end }}