{{ define "main" }}
  <main>
    <p>
      Olá, me chamo Filipe. Sou desenvolvedor de software e atualmente foco em desenvolvimento de aplicações web.
      Gosto de tecnologias simples como Go e Svelte e aqui compartilho um pouco sobre código, design e outras ideias.
    </p>
    <p>
      Você tambem pode me encontrar no 
      <a href="https://github.com/jfilipedias" title="jfilipedias">GitHub</a> e 
      <a href="https://www.linkedin.com/in/jfilipedias" title="">LinkedIn</a>.
    </p>
    <h2>Últimas publicações</h2>
  </main>
{{ end }}