{{ define "main" }}
  <main class="flex-1 flex w-full flex-col">
    <p>
      Olá, me chamo Filipe. Sou desenvolvedor de software e atualmente foco em desenvolvimento de aplicações web.
      Gosto de tecnologias simples como Go e aqui compartilho um pouco sobre código e outras ideias.
    </p>
    <p class="mt-5">
      Você também pode me encontrar no 
      <a href="https://github.com/jfilipedias" title="perfil no GitHub">
        GitHub
      </a> e 
      <a href="https://linkedin.com/in/jfilipedias" title="perfil no LinkedIn">
        LinkedIn
      </a>.
    </p>
    <section class="mt-10">
      <h2>Últimas publicações</h2>
      {{ $posts := where .Site.RegularPages "Section" "blog" }}
      {{ $latestPosts := first 3 (sort $posts "Date" "desc") }}
      <ul class="mt-5">
        {{ range $latestPosts }}
          <li>
            <a href="{{ .Permalink }}">
              <h3>{{ .Title }}</h3>
              <p class="text-lg text-stone-800">
                {{ .Summary }}
              </p>
              <time class="font-sans text-sm text-stone-600 font-medium mt-1" datetime="{{ .Date }}">
                {{ .Date.Format "January 2, 2006" }}
              </time>
            </a>
          </li>
        {{ end }}
      </ul>
    </section>
  </main>
{{ end }}