<meta property="og:title" content="{{ .Title }}" />
<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
<meta property="og:url" content="{{ .Permalink }}" />

{{ if .IsPage }}
  {{ $base := resources.Get "images/og.png" }}
  {{ $font := resources.Get "/fonts/mona-sans_semi-expanded-medium.ttf"}}
  {{ $img := $base.Filter (images.Text .Page.Title (dict
    "color" "#171717"
    "size" 72
    "x" 194
    "y" 100
    "font" $font
  ))}}
  {{ with resources.Copy (path.Join .Page.RelPermalink "og.png") $img }}
    <meta property="og:image" content="{{.Permalink}}">
    <meta property="og:image:width" content="{{.Width}}" />
    <meta property="og:image:height" content="{{.Height}}" />
  {{ end }}
{{ end }}

{{- if .IsPage }}
  <meta property="article:section" content="{{ .Section }}" />
  {{- $iso8601 := "2006-01-02T15:04:05-07:00" -}}
  {{ with .PublishDate }}
    <meta property="article:published_time" {{ .Format $iso8601 | printf "content=%q" | safeHTMLAttr }} />
  {{ end }}
  {{ with .Lastmod }}
    <meta property="article:modified_time" {{ .Format $iso8601 | printf "content=%q" | safeHTMLAttr }} />
  {{ end }}
{{- end -}}

{{- with .Params.audio }}
  <meta property="og:audio" content="{{ . }}" />
{{ end }}
{{- with .Params.locale }}
  <meta property="og:locale" content="{{ . }}" />
{{ end }}
{{- with .Site.Params.title }}
  <meta property="og:site_name" content="{{ . }}" />
{{ end }}
{{- with .Params.videos }}
  {{- range . }}
    <meta property="og:video" content="{{ . | absURL }}" />
  {{ end }}
{{ end }}